In [59]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import random
import csv

In [3]:
df1 = pd.read_csv("price_demand_data.csv")

In [4]:
df1.head()

  REGION  SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY
0   VIC1  1/01/2021 0:30      4179.21           LOW
1   VIC1  1/01/2021 1:00      4047.76           LOW
2   VIC1  1/01/2021 1:30      3934.70           LOW
3   VIC1  1/01/2021 2:00      3766.45           LOW
4   VIC1  1/01/2021 2:30      3590.37           LOW

In [5]:
df1.tail()

      REGION    SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY
11659   VIC1  31/08/2021 22:00      4861.91        MEDIUM
11660   VIC1  31/08/2021 22:30      4748.74        MEDIUM
11661   VIC1  31/08/2021 23:00      4620.09        MEDIUM
11662   VIC1  31/08/2021 23:30      4834.00        MEDIUM
11663   VIC1    1/09/2021 0:00      4811.27        MEDIUM

In [6]:
df2 = pd.read_csv("weather_data.csv")

In [7]:
df2.head()

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,1/01/2021,15.6,29.9,0.0,2.8,9.3,NNE,31.0,13:14,19.2,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
1,2/01/2021,18.4,29.0,0.0,9.4,1.3,NNW,30.0,8:22,23.3,...,7,NNW,17,1013.3,28.7,38,7.0,SW,4,1008.5
2,3/01/2021,17.0,26.2,12.6,4.8,7.1,WSW,33.0,17:55,18.3,...,8,WSW,4,1007.7,23.5,59,4.0,SSW,2,1005.2
3,4/01/2021,16.0,18.6,2.6,3.8,0.0,SSE,41.0,16:03,16.2,...,8,SSE,11,1010.0,18.2,82,8.0,SSW,17,1011.0
4,5/01/2021,15.9,19.1,11.2,1.0,0.0,SSE,35.0,11:02,17.2,...,8,SSE,13,1012.5,18.2,82,8.0,SSE,19,1013.3

In [8]:
df2.tail()

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
238,27/08/2021,4.6,13.6,0.0,1.2,3.8,SSW,15.0,12:18,7.7,...,7,,Calm,1020.0,12.8,65,7.0,SSE,7,1017.4
239,28/08/2021,5.3,17.8,0.0,1.6,9.6,N,39.0,13:14,9.1,...,1,N,7,1018.6,17.4,31,3.0,NNW,24,1013.5
240,29/08/2021,9.1,16.2,0.6,6.4,4.3,NNE,33.0,1:50,10.6,...,7,N,13,1011.4,12.8,84,7.0,S,6,1010.4
241,30/08/2021,6.4,17.6,4.0,1.4,7.4,NNW,50.0,14:04,11.1,...,7,N,15,1016.1,16.8,45,1.0,NNW,28,1013.2
242,31/08/2021,11.0,20.1,0.0,5.8,3.6,N,61.0,16:29,13.5,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2

In [9]:
df1.columns

Index(['REGION', 'SETTLEMENTDATE', 'TOTALDEMAND', 'PRICECATEGORY'], dtype='object')

In [10]:
df1.shape

(11664, 4)

In [11]:
df2.columns

Index(['Date', 'Minimum temperature (°C)', 'Maximum temperature (°C)',
       'Rainfall (mm)', 'Evaporation (mm)', 'Sunshine (hours)',
       'Direction of maximum wind gust ', 'Speed of maximum wind gust (km/h)',
       'Time of maximum wind gust', '9am Temperature (°C)',
       '9am relative humidity (%)', '9am cloud amount (oktas)',
       '9am wind direction', '9am wind speed (km/h)', '9am MSL pressure (hPa)',
       '3pm Temperature (°C)', '3pm relative humidity (%)',
       '3pm cloud amount (oktas)', '3pm wind direction',
       '3pm wind speed (km/h)', '3pm MSL pressure (hPa)'],
      dtype='object')

In [12]:
df2.shape

(243, 21)

In [13]:
df1.describe()

        TOTALDEMAND
count  11664.000000
mean    4925.798454
std      876.407490
min     2708.530000
25%     4255.500000
50%     4803.755000
75%     5477.337500
max     8196.830000

In [14]:
df2.describe()

,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Speed of maximum wind gust (km/h),9am Temperature (°C),9am relative humidity (%),9am cloud amount (oktas),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm MSL pressure (hPa)
count,242.000000,242.000000,241.000000,243.000000,243.000000,240.000000,242.000000,242.000000,243.000000,241.000000,243.000000,243.000000,242.000000,242.000000
mean,11.050826,19.445868,1.576763,3.902469,5.349383,34.412500,13.720661,74.454545,5.164609,1017.740664,18.040329,56.930041,5.301653,1015.824793
std,3.870242,5.354085,4.498754,2.702141,3.604902,10.909319,4.306618,14.177593,2.562778,7.683402,4.963547,14.017376,2.392051,7.435859
min,1.700000,10.600000,0.000000,0.000000,0.000000,15.000000,3.000000,25.000000,0.000000,989.700000,8.600000,21.000000,0.000000,989.000000
25%,8.100000,15.500000,0.000000,1.900000,2.150000,28.000000,10.925000,65.000000,3.000000,1012.800000,14.400000,48.000000,3.000000,1011.000000
50%,10.900000,18.300000,0.000000,3.200000,4.900000,33.000000,13.400000,75.000000,7.000000,1018.100000,17.100000,56.000000,7.000000,1015.750000
75%,13.800000,21.800000,0.600000,5.600000,8.350000,41.000000,16.400000,84.000000,7.000000,1023.700000,20.150000,66.000000,7.000000,1021.600000
max,22.200000,39.200000,43.200000,13.800000,13.100000,67.000000,30.900000,100.000000,8.000000,1034.200000,35.200000,98.000000,8.000000,1032.400000

In [15]:
# check null values for price_demand_data
df1.isnull().sum()

REGION            0
SETTLEMENTDATE    0
TOTALDEMAND       0
PRICECATEGORY     0
dtype: int64

In [63]:
# check null values for weather_data
df2.isnull()

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
239,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
240,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
241,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
242,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [17]:
# get all the mean values
df2.mean()

Minimum temperature (°C)               11.050826
Maximum temperature (°C)               19.445868
Rainfall (mm)                           1.576763
Evaporation (mm)                        3.902469
Sunshine (hours)                        5.349383
Speed of maximum wind gust (km/h)      34.412500
9am Temperature (°C)                   13.720661
9am relative humidity (%)              74.454545
9am cloud amount (oktas)                5.164609
9am MSL pressure (hPa)               1017.740664
3pm Temperature (°C)                   18.040329
3pm relative humidity (%)              56.930041
3pm cloud amount (oktas)                5.301653
3pm MSL pressure (hPa)               1015.824793
dtype: float64

In [18]:
# Replace each null value with its mean value
newdf2 = df2.fillna(df2.mean())
newdf2

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,1/01/2021,15.6,29.9,0.0,2.8,9.3,NNE,31.0,13:14,19.2,...,6,N,2,1018.800000,28.1,43,5.0,E,13,1015.3
1,2/01/2021,18.4,29.0,0.0,9.4,1.3,NNW,30.0,8:22,23.3,...,7,NNW,17,1013.300000,28.7,38,7.0,SW,4,1008.5
2,3/01/2021,17.0,26.2,12.6,4.8,7.1,WSW,33.0,17:55,18.3,...,8,WSW,4,1007.700000,23.5,59,4.0,SSW,2,1005.2
3,4/01/2021,16.0,18.6,2.6,3.8,0.0,SSE,41.0,16:03,16.2,...,8,SSE,11,1010.000000,18.2,82,8.0,SSW,17,1011.0
4,5/01/2021,15.9,19.1,11.2,1.0,0.0,SSE,35.0,11:02,17.2,...,8,SSE,13,1012.500000,18.2,82,8.0,SSE,19,1013.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,27/08/2021,4.6,13.6,0.0,1.2,3.8,SSW,15.0,12:18,7.7,...,7,,Calm,1020.000000,12.8,65,7.0,SSE,7,1017.4
239,28/08/2021,5.3,17.8,0.0,1.6,9.6,N,39.0,13:14,9.1,...,1,N,7,1018.600000,17.4,31,3.0,NNW,24,1013.5
240,29/08/2021,9.1,16.2,0.6,6.4,4.3,NNE,33.0,1:50,10.6,...,7,N,13,1011.400000,12.8,84,7.0,S,6,1010.4
241,30/08/2021,6.4,17.6,4.0,1.4,7.4,NNW,50.0,14:04,11.1,...,7,N,15,1016.100000,16.8,45,1.0,NNW,28,1013.2
242,31/08/2021,11.0,20.1,0.0,5.8,3.6,N,61.0,16:29,13.5,...,7,N,17,1017.740664,19.4,43,6.0,N,30,1012.2

In [19]:
newdf2.loc[188]

Date                                 8/07/2021
Minimum temperature (°C)               11.0508
Maximum temperature (°C)               19.4459
Rainfall (mm)                          1.57676
Evaporation (mm)                           1.8
Sunshine (hours)                           8.3
Direction of maximum wind gust             NaN
Speed of maximum wind gust (km/h)      34.4125
Time of maximum wind gust                  NaN
9am Temperature (°C)                   13.7207
9am relative humidity (%)              74.4545
9am cloud amount (oktas)                     2
9am wind direction                         NaN
9am wind speed (km/h)                      NaN
9am MSL pressure (hPa)                 1017.74
3pm Temperature (°C)                        12
3pm relative humidity (%)                   55
3pm cloud amount (oktas)                     6
3pm wind direction                          NE
3pm wind speed (km/h)                        9
3pm MSL pressure (hPa)                  1019.4
Name: 188, dtype: object

In [ ]:
# we need to discussion how to deal with Null and fault values, 
# do we choose to delete them, or replace them with mean value. 
# then how to write code to do that?

In [53]:
# get the dd/mm/yyyy field from SETTLEMENTDATE so we can join it with the weather
df1['Date'] = df1['SETTLEMENTDATE'].apply(lambda x: x.split()[0])
df1.head()

  REGION  SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY       Date  day
0   VIC1  1/01/2021 0:30      4179.21           LOW  1/01/2021    1
1   VIC1  1/01/2021 1:00      4047.76           LOW  1/01/2021    1
2   VIC1  1/01/2021 1:30      3934.70           LOW  1/01/2021    1
3   VIC1  1/01/2021 2:00      3766.45           LOW  1/01/2021    1
4   VIC1  1/01/2021 2:30      3590.37           LOW  1/01/2021    1

In [54]:
# find the maximum TOTALDEMAND of the day
df1['day'] = pd.DatetimeIndex(df1['Date']).day
df1

      REGION    SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY        Date  day
0       VIC1    1/01/2021 0:30      4179.21           LOW   1/01/2021    1
1       VIC1    1/01/2021 1:00      4047.76           LOW   1/01/2021    1
2       VIC1    1/01/2021 1:30      3934.70           LOW   1/01/2021    1
3       VIC1    1/01/2021 2:00      3766.45           LOW   1/01/2021    1
4       VIC1    1/01/2021 2:30      3590.37           LOW   1/01/2021    1
...      ...               ...          ...           ...         ...  ...
11659   VIC1  31/08/2021 22:00      4861.91        MEDIUM  31/08/2021   31
11660   VIC1  31/08/2021 22:30      4748.74        MEDIUM  31/08/2021   31
11661   VIC1  31/08/2021 23:00      4620.09        MEDIUM  31/08/2021   31
11662   VIC1  31/08/2021 23:30      4834.00        MEDIUM  31/08/2021   31
11663   VIC1    1/09/2021 0:00      4811.27        MEDIUM   1/09/2021    9

[11664 rows x 6 columns]

In [55]:
data = df1.merge(df2, left_on='Date', right_on='Date')
data

,REGION,SETTLEMENTDATE,TOTALDEMAND,PRICECATEGORY,Date,day,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,VIC1,1/01/2021 0:30,4179.21,LOW,1/01/2021,1,15.6,29.9,0.0,2.8,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
1,VIC1,1/01/2021 1:00,4047.76,LOW,1/01/2021,1,15.6,29.9,0.0,2.8,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
2,VIC1,1/01/2021 1:30,3934.70,LOW,1/01/2021,1,15.6,29.9,0.0,2.8,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
3,VIC1,1/01/2021 2:00,3766.45,LOW,1/01/2021,1,15.6,29.9,0.0,2.8,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
4,VIC1,1/01/2021 2:30,3590.37,LOW,1/01/2021,1,15.6,29.9,0.0,2.8,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11658,VIC1,31/08/2021 21:30,5075.93,MEDIUM,31/08/2021,31,11.0,20.1,0.0,5.8,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2
11659,VIC1,31/08/2021 22:00,4861.91,MEDIUM,31/08/2021,31,11.0,20.1,0.0,5.8,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2
11660,VIC1,31/08/2021 22:30,4748.74,MEDIUM,31/08/2021,31,11.0,20.1,0.0,5.8,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2
11661,VIC1,31/08/2021 23:00,4620.09,MEDIUM,31/08/2021,31,11.0,20.1,0.0,5.8,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2
11662,VIC1,31/08/2021 23:30,4834.00,MEDIUM,31/08/2021,31,11.0,20.1,0.0,5.8,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2

In [56]:
train = data.drop(['REGION','SETTLEMENTDATE','Evaporation (mm)', 'Sunshine (hours)',
       'Direction of maximum wind gust ', 'Time of maximum wind gust', '9am Temperature (°C)',
       '9am relative humidity (%)', '9am cloud amount (oktas)',
       '9am wind direction', '9am wind speed (km/h)', '9am MSL pressure (hPa)',
       '3pm Temperature (°C)', '3pm relative humidity (%)',
       '3pm cloud amount (oktas)', '3pm wind direction',
       '3pm wind speed (km/h)', '3pm MSL pressure (hPa)'], axis=1)
train

,TOTALDEMAND,PRICECATEGORY,Date,day,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Speed of maximum wind gust (km/h)
0,4179.21,LOW,1/01/2021,1,15.6,29.9,0.0,31.0
1,4047.76,LOW,1/01/2021,1,15.6,29.9,0.0,31.0
2,3934.70,LOW,1/01/2021,1,15.6,29.9,0.0,31.0
3,3766.45,LOW,1/01/2021,1,15.6,29.9,0.0,31.0
4,3590.37,LOW,1/01/2021,1,15.6,29.9,0.0,31.0
...,...,...,...,...,...,...,...,...
11658,5075.93,MEDIUM,31/08/2021,31,11.0,20.1,0.0,61.0
11659,4861.91,MEDIUM,31/08/2021,31,11.0,20.1,0.0,61.0
11660,4748.74,MEDIUM,31/08/2021,31,11.0,20.1,0.0,61.0
11661,4620.09,MEDIUM,31/08/2021,31,11.0,20.1,0.0,61.0
11662,4834.00,MEDIUM,31/08/2021,31,11.0,20.1,0.0,61.0

In [ ]:
# Visualization

In [61]:
sns.set()

In [62]:
sns.replot(x='TOTALDEMAND', y='Date',data=data )

AttributeError: module 'seaborn' has no attribute 'replot'

In [27]:
# model
data.head()

,REGION,SETTLEMENTDATE,TOTALDEMAND,PRICECATEGORY,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,VIC1,1/01/2021 0:30,4179.21,LOW,1/01/2021,15.6,29.9,0.0,2.8,9.3,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
1,VIC1,1/01/2021 1:00,4047.76,LOW,1/01/2021,15.6,29.9,0.0,2.8,9.3,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
2,VIC1,1/01/2021 1:30,3934.70,LOW,1/01/2021,15.6,29.9,0.0,2.8,9.3,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
3,VIC1,1/01/2021 2:00,3766.45,LOW,1/01/2021,15.6,29.9,0.0,2.8,9.3,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
4,VIC1,1/01/2021 2:30,3590.37,LOW,1/01/2021,15.6,29.9,0.0,2.8,9.3,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3

In [44]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

,TOTALDEMAND,PRICECATEGORY,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Speed of maximum wind gust (km/h)
0,4179.21,LOW,1/01/2021,15.6,29.9,0.0,31.0
1,4047.76,LOW,1/01/2021,15.6,29.9,0.0,31.0
2,3934.70,LOW,1/01/2021,15.6,29.9,0.0,31.0
3,3766.45,LOW,1/01/2021,15.6,29.9,0.0,31.0
4,3590.37,LOW,1/01/2021,15.6,29.9,0.0,31.0
...,...,...,...,...,...,...,...
11658,5075.93,MEDIUM,31/08/2021,11.0,20.1,0.0,61.0
11659,4861.91,MEDIUM,31/08/2021,11.0,20.1,0.0,61.0
11660,4748.74,MEDIUM,31/08/2021,11.0,20.1,0.0,61.0
11661,4620.09,MEDIUM,31/08/2021,11.0,20.1,0.0,61.0
11662,4834.00,MEDIUM,31/08/2021,11.0,20.1,0.0,61.0

In [46]:
test = data['TOTALDEMAND']

In [41]:
# build a train model
X_train, X_test, y_train, y_test = train_test_split(train, test, test_size=0.3, random_state=2)

In [47]:
# make linear regression model
regr = LinearRegression()

regr.fit(X_train,y_train)

In [51]:
pred = regr.predict(X_test)

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [50]:
pred

NameError: name 'pred' is not defined

In [49]:
# check mode if efficient
regr.score(X_test, y_test)

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.