In [2]:
import pandas as pd
from pandas import set_option
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import random
import sklearn
from sklearn import datasets
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
df1 = pd.read_csv("price_demand_data.csv")

In [4]:
df1.keys()

Index(['REGION', 'SETTLEMENTDATE', 'TOTALDEMAND', 'PRICECATEGORY'], dtype='object')

In [5]:
df1.head()

  REGION  SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY
0   VIC1  1/01/2021 0:30      4179.21           LOW
1   VIC1  1/01/2021 1:00      4047.76           LOW
2   VIC1  1/01/2021 1:30      3934.70           LOW
3   VIC1  1/01/2021 2:00      3766.45           LOW
4   VIC1  1/01/2021 2:30      3590.37           LOW

In [6]:
df1.tail()

      REGION    SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY
11659   VIC1  31/08/2021 22:00      4861.91        MEDIUM
11660   VIC1  31/08/2021 22:30      4748.74        MEDIUM
11661   VIC1  31/08/2021 23:00      4620.09        MEDIUM
11662   VIC1  31/08/2021 23:30      4834.00        MEDIUM
11663   VIC1    1/09/2021 0:00      4811.27        MEDIUM

In [7]:
df2 = pd.read_csv("weather_data.csv")

In [8]:
df2.head()

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,1/01/2021,15.6,29.9,0.0,2.8,9.3,NNE,31.0,13:14,19.2,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
1,2/01/2021,18.4,29.0,0.0,9.4,1.3,NNW,30.0,8:22,23.3,...,7,NNW,17,1013.3,28.7,38,7.0,SW,4,1008.5
2,3/01/2021,17.0,26.2,12.6,4.8,7.1,WSW,33.0,17:55,18.3,...,8,WSW,4,1007.7,23.5,59,4.0,SSW,2,1005.2
3,4/01/2021,16.0,18.6,2.6,3.8,0.0,SSE,41.0,16:03,16.2,...,8,SSE,11,1010.0,18.2,82,8.0,SSW,17,1011.0
4,5/01/2021,15.9,19.1,11.2,1.0,0.0,SSE,35.0,11:02,17.2,...,8,SSE,13,1012.5,18.2,82,8.0,SSE,19,1013.3

In [9]:
df2.tail()

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
238,27/08/2021,4.6,13.6,0.0,1.2,3.8,SSW,15.0,12:18,7.7,...,7,,Calm,1020.0,12.8,65,7.0,SSE,7,1017.4
239,28/08/2021,5.3,17.8,0.0,1.6,9.6,N,39.0,13:14,9.1,...,1,N,7,1018.6,17.4,31,3.0,NNW,24,1013.5
240,29/08/2021,9.1,16.2,0.6,6.4,4.3,NNE,33.0,1:50,10.6,...,7,N,13,1011.4,12.8,84,7.0,S,6,1010.4
241,30/08/2021,6.4,17.6,4.0,1.4,7.4,NNW,50.0,14:04,11.1,...,7,N,15,1016.1,16.8,45,1.0,NNW,28,1013.2
242,31/08/2021,11.0,20.1,0.0,5.8,3.6,N,61.0,16:29,13.5,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2

In [10]:
df1.columns

Index(['REGION', 'SETTLEMENTDATE', 'TOTALDEMAND', 'PRICECATEGORY'], dtype='object')

In [11]:
df1.shape

(11664, 4)

In [12]:
df2.columns

Index(['Date', 'Minimum temperature (°C)', 'Maximum temperature (°C)',
       'Rainfall (mm)', 'Evaporation (mm)', 'Sunshine (hours)',
       'Direction of maximum wind gust ', 'Speed of maximum wind gust (km/h)',
       'Time of maximum wind gust', '9am Temperature (°C)',
       '9am relative humidity (%)', '9am cloud amount (oktas)',
       '9am wind direction', '9am wind speed (km/h)', '9am MSL pressure (hPa)',
       '3pm Temperature (°C)', '3pm relative humidity (%)',
       '3pm cloud amount (oktas)', '3pm wind direction',
       '3pm wind speed (km/h)', '3pm MSL pressure (hPa)'],
      dtype='object')

In [13]:
df2.shape

(243, 21)

In [14]:
df1.describe()

        TOTALDEMAND
count  11664.000000
mean    4925.798454
std      876.407490
min     2708.530000
25%     4255.500000
50%     4803.755000
75%     5477.337500
max     8196.830000

In [15]:
df2.describe()

,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Speed of maximum wind gust (km/h),9am Temperature (°C),9am relative humidity (%),9am cloud amount (oktas),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm MSL pressure (hPa)
count,242.000000,242.000000,241.000000,243.000000,243.000000,240.000000,242.000000,242.000000,243.000000,241.000000,243.000000,243.000000,242.000000,242.000000
mean,11.050826,19.445868,1.576763,3.902469,5.349383,34.412500,13.720661,74.454545,5.164609,1017.740664,18.040329,56.930041,5.301653,1015.824793
std,3.870242,5.354085,4.498754,2.702141,3.604902,10.909319,4.306618,14.177593,2.562778,7.683402,4.963547,14.017376,2.392051,7.435859
min,1.700000,10.600000,0.000000,0.000000,0.000000,15.000000,3.000000,25.000000,0.000000,989.700000,8.600000,21.000000,0.000000,989.000000
25%,8.100000,15.500000,0.000000,1.900000,2.150000,28.000000,10.925000,65.000000,3.000000,1012.800000,14.400000,48.000000,3.000000,1011.000000
50%,10.900000,18.300000,0.000000,3.200000,4.900000,33.000000,13.400000,75.000000,7.000000,1018.100000,17.100000,56.000000,7.000000,1015.750000
75%,13.800000,21.800000,0.600000,5.600000,8.350000,41.000000,16.400000,84.000000,7.000000,1023.700000,20.150000,66.000000,7.000000,1021.600000
max,22.200000,39.200000,43.200000,13.800000,13.100000,67.000000,30.900000,100.000000,8.000000,1034.200000,35.200000,98.000000,8.000000,1032.400000

In [90]:
# Get the dd/mm/yyyy field from SETTLEMENTDATE so we can join it with the weather
# Separate the Day and Month from Date
df1['Date'] = df1['SETTLEMENTDATE'].apply(lambda x: x.split()[0])
df1['Day'] = df1['SETTLEMENTDATE'].apply(lambda x: x.split('/')[0])
df1['Month'] = df1['SETTLEMENTDATE'].apply(lambda x: x.split('/')[1])
df1.head()

  REGION  SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY       Date Day Month
0   VIC1  1/01/2021 0:30      4179.21           LOW  1/01/2021   1    01
1   VIC1  1/01/2021 1:00      4047.76           LOW  1/01/2021   1    01
2   VIC1  1/01/2021 1:30      3934.70           LOW  1/01/2021   1    01
3   VIC1  1/01/2021 2:00      3766.45           LOW  1/01/2021   1    01
4   VIC1  1/01/2021 2:30      3590.37           LOW  1/01/2021   1    01

In [91]:
# merge two datasets together (df1 as price_demand and df2 as weather)
data = df1.merge(df2, left_on='Date', right_on='Date')
data

,REGION,SETTLEMENTDATE,TOTALDEMAND,PRICECATEGORY,Date,Day,Month,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,VIC1,1/01/2021 0:30,4179.21,LOW,1/01/2021,1,01,15.6,29.9,0.0,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
1,VIC1,1/01/2021 1:00,4047.76,LOW,1/01/2021,1,01,15.6,29.9,0.0,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
2,VIC1,1/01/2021 1:30,3934.70,LOW,1/01/2021,1,01,15.6,29.9,0.0,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
3,VIC1,1/01/2021 2:00,3766.45,LOW,1/01/2021,1,01,15.6,29.9,0.0,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
4,VIC1,1/01/2021 2:30,3590.37,LOW,1/01/2021,1,01,15.6,29.9,0.0,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11658,VIC1,31/08/2021 21:30,5075.93,MEDIUM,31/08/2021,31,08,11.0,20.1,0.0,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2
11659,VIC1,31/08/2021 22:00,4861.91,MEDIUM,31/08/2021,31,08,11.0,20.1,0.0,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2
11660,VIC1,31/08/2021 22:30,4748.74,MEDIUM,31/08/2021,31,08,11.0,20.1,0.0,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2
11661,VIC1,31/08/2021 23:00,4620.09,MEDIUM,31/08/2021,31,08,11.0,20.1,0.0,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2
11662,VIC1,31/08/2021 23:30,4834.00,MEDIUM,31/08/2021,31,08,11.0,20.1,0.0,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2

# Need help here:

In [92]:
# Aggregate daily energy usage from every half an hour data to a daily mean value
data.groupby(by=[data.index.Day])

AttributeError: 'Int64Index' object has no attribute 'Day'

# Need help here:

In [66]:
# Check if there is any null or false values. 
data.isnull().values.any()

True

In [72]:
types = data.dtypes
print(types)

REGION                                object
SETTLEMENTDATE                        object
TOTALDEMAND                          float64
PRICECATEGORY                         object
Date                                  object
Day                                   object
Month                                 object
Minimum temperature (°C)             float64
Maximum temperature (°C)             float64
Rainfall (mm)                        float64
Evaporation (mm)                     float64
Sunshine (hours)                     float64
Direction of maximum wind gust        object
Speed of maximum wind gust (km/h)    float64
Time of maximum wind gust             object
9am Temperature (°C)                 float64
9am relative humidity (%)            float64
9am cloud amount (oktas)               int64
9am wind direction                    object
9am wind speed (km/h)                 object
9am MSL pressure (hPa)               float64
3pm Temperature (°C)                 float64
3pm relative humidity (%)              int64
3pm cloud amount (oktas)             float64
3pm wind direction                    object
3pm wind speed (km/h)                 object
3pm MSL pressure (hPa)               float64
dtype: object

In [73]:
set_option('display.width', 100)
set_option('precision', 3)
description = data.describe()
print(description)

       TOTALDEMAND  Minimum temperature (°C)  Maximum temperature (°C)  Rainfall (mm)  \
count    11663.000                 11615.000                 11615.000      11567.000
mean      4925.808                    11.050                    19.445          1.577
std        876.444                     3.862                     5.343          4.490
min       2708.530                     1.700                    10.600          0.000
25%       4255.490                     8.100                    15.500          0.000
50%       4803.730                    10.900                    18.300          0.000
75%       5477.375                    13.800                    21.800          0.600
max       8196.830                    22.200                    39.200         43.200

       Evaporation (mm)  Sunshine (hours)  Speed of maximum wind gust (km/h)  \
count         11663.000         11663.000                          11519.000
mean              3.903             5.349                             34.413
std               2.697             3.598                             10.887
min               0.000             0.000                             15.000
25%               1.800             2.100                             28.000
50%               3.200             4.900                             33.000
75%               5.600             8.400                             41.000
max              13.800            13.100                             67.000

       9am Temperature (°C)  9am relative humidity (%)  9am cloud amount (oktas)  \
count             11615.000                  11615.000                 11663.000
mean                 13.720                     74.454                     5.165
std                   4.298                     14.149                     2.558
min                   3.000                     25.000                     0.000
25%                  10.900                     65.000                     3.000
50%                  13.400                     75.000                     7.000
75%                  16.400                     84.000                     7.000
max                  30.900                    100.000                     8.000

       9am MSL pressure (hPa)  3pm Temperature (°C)  3pm relative humidity (%)  \
count               11567.000             11663.000                  11663.000
mean                 1017.741                18.039                     56.931
std                     7.668                 4.953                     13.989
min                   989.700                 8.600                     21.000
25%                  1012.800                14.400                     48.000
50%                  1018.100                17.100                     56.000
75%                  1023.700                20.200                     66.000
max                  1034.200                35.200                     98.000

       3pm cloud amount (oktas)  3pm MSL pressure (hPa)
count                 11615.000               11615.000
mean                      5.302                1015.825
std                       2.387                   7.421
min                       0.000                 989.000
25%                       3.000                1011.000
50%                       7.000                1015.800
75%                       7.000                1021.600
max                       8.000                1032.400

In [77]:
# Distribute data by using pricecategory
class_counts = data.groupby('Month').size()
print(class_counts)

Month
01    1487
02    1344
03    1488
04    1440
05    1488
06    1440
07    1488
08    1488
dtype: int64

# Need help here:

In [78]:
# Pairwise Pearson correlations
correlations = data.corr(method='pearson')
print(correlations)

                                   TOTALDEMAND  Minimum temperature (°C)  \
TOTALDEMAND                              1.000                    -0.292
Minimum temperature (°C)                -0.292                     1.000
Maximum temperature (°C)                -0.226                     0.707
Rainfall (mm)                           -0.040                     0.044
Evaporation (mm)                        -0.187                     0.656
Sunshine (hours)                        -0.177                     0.082
Speed of maximum wind gust (km/h)        0.040                     0.056
9am Temperature (°C)                    -0.252                     0.916
9am relative humidity (%)                0.111                    -0.334
9am cloud amount (oktas)                -0.010                     0.207
9am MSL pressure (hPa)                  -0.002                    -0.326
3pm Temperature (°C)                    -0.242                     0.664
3pm relative humidity (%)                0.119                    -0.055
3pm cloud amount (oktas)                 0.101                     0.063
3pm MSL pressure (hPa)                  -0.023                    -0.282

                                   Maximum temperature (°C)  Rainfall (mm)  Evaporation (mm)  \
TOTALDEMAND                                          -0.226         -0.040            -0.187
Minimum temperature (°C)                              0.707          0.044             0.656
Maximum temperature (°C)                              1.000         -0.125             0.622
Rainfall (mm)                                        -0.125          1.000            -0.045
Evaporation (mm)                                      0.622         -0.045             1.000
Sunshine (hours)                                      0.470         -0.147             0.273
Speed of maximum wind gust (km/h)                    -0.056          0.042             0.159
9am Temperature (°C)                                  0.820         -0.021             0.707
9am relative humidity (%)                            -0.309          0.195            -0.529
9am cloud amount (oktas)                             -0.171          0.070             0.014
9am MSL pressure (hPa)                               -0.102         -0.139            -0.273
3pm Temperature (°C)                                  0.968         -0.128             0.560
3pm relative humidity (%)                            -0.457          0.195            -0.209
3pm cloud amount (oktas)                             -0.239          0.112            -0.096
3pm MSL pressure (hPa)                               -0.179         -0.057            -0.254

                                   Sunshine (hours)  Speed of maximum wind gust (km/h)  \
TOTALDEMAND                                  -0.177                              0.040
Minimum temperature (°C)                      0.082                              0.056
Maximum temperature (°C)                      0.470                             -0.056
Rainfall (mm)                                -0.147                              0.042
Evaporation (mm)                              0.273                              0.159
Sunshine (hours)                              1.000                             -0.059
Speed of maximum wind gust (km/h)            -0.059                              1.000
9am Temperature (°C)                          0.197                              0.110
9am relative humidity (%)                    -0.238                             -0.392
9am cloud amount (oktas)                     -0.597                              0.026
9am MSL pressure (hPa)                        0.207                             -0.421
3pm Temperature (°C)                          0.487                             -0.098
3pm relative humidity (%)                    -0.550                             -0.084
3pm cloud amount (oktas)                     -0.724                              0.137
3pm MSL pressure (hPa)                        0.132                             -0.430

                                   9am Temperature (°C)  9am relative humidity (%)  \
TOTALDEMAND                                      -0.252                      0.111
Minimum temperature (°C)                          0.916                     -0.334
Maximum temperature (°C)                          0.820                     -0.309
Rainfall (mm)                                    -0.021                      0.195
Evaporation (mm)                                  0.707                     -0.529
Sunshine (hours)                                  0.197                     -0.238
Speed of maximum wind gust (km/h)                 0.110                     -0.392
9am Temperature (°C)                              1.000                     -0.468
9am relative humidity (%)                        -0.468                      1.000
9am cloud amount (oktas)                          0.072                      0.063
9am MSL pressure (hPa)                           -0.286                      0.144
3pm Temperature (°C)                              0.764                     -0.262
3pm relative humidity (%)                        -0.157                      0.402
3pm cloud amount (oktas)                         -0.003                      0.031
3pm MSL pressure (hPa)                           -0.281                      0.139

                                   9am cloud amount (oktas)  9am MSL pressure (hPa)  \
TOTALDEMAND                                          -0.010                  -0.002
Minimum temperature (°C)                              0.207                  -0.326
Maximum temperature (°C)                             -0.171                  -0.102
Rainfall (mm)                                         0.070                  -0.139
Evaporation (mm)                                      0.014                  -0.273
Sunshine (hours)                                     -0.597                   0.207
Speed of maximum wind gust (km/h)                     0.026                  -0.421
9am Temperature (°C)                                  0.072                  -0.286
9am relative humidity (%)                             0.063                   0.144
9am cloud amount (oktas)                              1.000                  -0.199
9am MSL pressure (hPa)                               -0.199                   1.000
3pm Temperature (°C)                                 -0.182                  -0.039
3pm relative humidity (%)                             0.424                  -0.144
3pm cloud amount (oktas)                              0.394                  -0.290
3pm MSL pressure (hPa)                               -0.122                   0.961

                                   3pm Temperature (°C)  3pm relative humidity (%)  \
TOTALDEMAND                                      -0.242                      0.119
Minimum temperature (°C)                          0.664                     -0.055
Maximum temperature (°C)                          0.968                     -0.457
Rainfall (mm)                                    -0.128                      0.195
Evaporation (mm)                                  0.560                     -0.209
Sunshine (hours)                                  0.487                     -0.550
Speed of maximum wind gust (km/h)                -0.098                     -0.084
9am Temperature (°C)                              0.764                     -0.157
9am relative humidity (%)                        -0.262                      0.402
9am cloud amount (oktas)                         -0.182                      0.424
9am MSL pressure (hPa)                           -0.039                     -0.144
3pm Temperature (°C)                              1.000                     -0.543
3pm relative humidity (%)                        -0.543                      1.000
3pm cloud amount (oktas)                         -0.275                      0.342
3pm MSL pressure (hPa)                           -0.131                     -0.031

                                   3pm cloud amount (oktas)  3pm MSL pressure (hPa)
TOTALDEMAND                                           0.101                  -0.023
Minimum temperature (°C)                              0.063                  -0.282
Maximum temperature (°C)                             -0.239                  -0.179
Rainfall (mm)                                         0.112                  -0.057
Evaporation (mm)                                     -0.096                  -0.254
Sunshine (hours)                                     -0.724                   0.132
Speed of maximum wind gust (km/h)                     0.137                  -0.430
9am Temperature (°C)                                 -0.003                  -0.281
9am relative humidity (%)                             0.031                   0.139
9am cloud amount (oktas)                              0.394                  -0.122
9am MSL pressure (hPa)                               -0.290                   0.961
3pm Temperature (°C)                                 -0.275                  -0.131
3pm relative humidity (%)                             0.342                  -0.031
3pm cloud amount (oktas)                              1.000                  -0.226
3pm MSL pressure (hPa)                               -0.226                   1.000

# Below are not complete codes/thoughts:

In [24]:
aggregated_df = data[['Date', 'TOTALDEMAND','PRICECATEGORY','Maximum temperature (°C)','Minimum temperature (°C)','Speed of maximum wind gust (km/h)','Rainfall (mm)']].groupby('PRICECATEGORY').agg('mean')
peek = aggregated_df.head(20)
peek

,TOTALDEMAND,Maximum temperature (°C),Minimum temperature (°C),Speed of maximum wind gust (km/h),Rainfall (mm)
PRICECATEGORY,,,,,
EXTREME,6391.791,14.574,6.707,24.066,1.758
HIGH,5998.246,15.324,7.805,29.707,1.324
LOW,4552.487,21.037,12.286,35.712,1.558
MEDIUM,5454.391,16.890,9.121,33.066,1.673

In [54]:
types = aggregated_df.dtypes()
print(types)

TypeError: 'Series' object is not callable

In [34]:
aggregated_df.tail()

,TOTALDEMAND,Maximum temperature (°C),Minimum temperature (°C),Speed of maximum wind gust (km/h),Rainfall (mm)
Date,,,,,
9/04/2021,4539.436667,17.3,13.8,35.0,6.2
9/05/2021,4138.748333,20.5,11.0,28.0,0.4
9/06/2021,5776.988958,14.7,7.8,67.0,4.0
9/07/2021,6099.852917,12.0,2.0,15.0,NaN
9/08/2021,5395.072500,16.4,7.1,30.0,0.0

In [35]:
aggregated_df.isnull()

,TOTALDEMAND,Maximum temperature (°C),Minimum temperature (°C),Speed of maximum wind gust (km/h),Rainfall (mm)
Date,,,,,
1/01/2021,False,False,False,False,False
1/02/2021,False,False,False,False,False
1/03/2021,False,False,False,False,False
1/04/2021,False,False,False,False,False
1/05/2021,False,False,False,False,False
...,...,...,...,...,...
9/04/2021,False,False,False,False,False
9/05/2021,False,False,False,False,False
9/06/2021,False,False,False,False,False
9/07/2021,False,False,False,False,True
9/08/2021,False,False,False,False,False

In [36]:
# Replace each null value with its mean value
newdf2 = aggregated_df.fillna(aggregated_df.mean())
newdf2

,TOTALDEMAND,Maximum temperature (°C),Minimum temperature (°C),Speed of maximum wind gust (km/h),Rainfall (mm)
Date,,,,,
1/01/2021,3954.327021,29.9,15.6,31.0,0.000000
1/02/2021,4670.888333,20.3,13.4,33.0,0.000000
1/03/2021,4483.006042,21.7,13.8,44.0,0.000000
1/04/2021,4794.322292,29.9,12.4,20.0,0.000000
1/05/2021,4199.075625,24.6,11.2,33.0,0.000000
...,...,...,...,...,...
9/04/2021,4539.436667,17.3,13.8,35.0,6.200000
9/05/2021,4138.748333,20.5,11.0,28.0,0.400000
9/06/2021,5776.988958,14.7,7.8,67.0,4.000000
9/07/2021,6099.852917,12.0,2.0,15.0,1.576763
9/08/2021,5395.072500,16.4,7.1,30.0,0.000000

In [38]:
newdf2.keys()

Index(['TOTALDEMAND', 'Maximum temperature (°C)', 'Minimum temperature (°C)',
       'Speed of maximum wind gust (km/h)', 'Rainfall (mm)'],
      dtype='object')

In [37]:
newdf2.isnull()

,TOTALDEMAND,Maximum temperature (°C),Minimum temperature (°C),Speed of maximum wind gust (km/h),Rainfall (mm)
Date,,,,,
1/01/2021,False,False,False,False,False
1/02/2021,False,False,False,False,False
1/03/2021,False,False,False,False,False
1/04/2021,False,False,False,False,False
1/05/2021,False,False,False,False,False
...,...,...,...,...,...
9/04/2021,False,False,False,False,False
9/05/2021,False,False,False,False,False
9/06/2021,False,False,False,False,False
9/07/2021,False,False,False,False,False
9/08/2021,False,False,False,False,False

#train = data.drop(['REGION','SETTLEMENTDATE','Evaporation (mm)', 'Sunshine (hours)',
       'Direction of maximum wind gust ', 'Time of maximum wind gust', '9am Temperature (°C)',
       '9am relative humidity (%)', '9am cloud amount (oktas)',
       '9am wind direction', '9am wind speed (km/h)', '9am MSL pressure (hPa)',
       '3pm Temperature (°C)', '3pm relative humidity (%)',
       '3pm cloud amount (oktas)', '3pm wind direction',
       '3pm wind speed (km/h)', '3pm MSL pressure (hPa)'], axis=1)
#train

In [44]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

,TOTALDEMAND,PRICECATEGORY,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Speed of maximum wind gust (km/h)
0,4179.21,LOW,1/01/2021,15.6,29.9,0.0,31.0
1,4047.76,LOW,1/01/2021,15.6,29.9,0.0,31.0
2,3934.70,LOW,1/01/2021,15.6,29.9,0.0,31.0
3,3766.45,LOW,1/01/2021,15.6,29.9,0.0,31.0
4,3590.37,LOW,1/01/2021,15.6,29.9,0.0,31.0
...,...,...,...,...,...,...,...
11658,5075.93,MEDIUM,31/08/2021,11.0,20.1,0.0,61.0
11659,4861.91,MEDIUM,31/08/2021,11.0,20.1,0.0,61.0
11660,4748.74,MEDIUM,31/08/2021,11.0,20.1,0.0,61.0
11661,4620.09,MEDIUM,31/08/2021,11.0,20.1,0.0,61.0
11662,4834.00,MEDIUM,31/08/2021,11.0,20.1,0.0,61.0

In [46]:
test = data['TOTALDEMAND']

In [41]:
# build a train model
X_train, X_test, y_train, y_test = train_test_split(train, test, test_size=0.3, random_state=2)

In [47]:
# make linear regression model
regr = LinearRegression()

regr.fit(X_train,y_train)

In [51]:
pred = regr.predict(X_test)

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [50]:
pred

NameError: name 'pred' is not defined

In [49]:
# check mode if efficient
regr.score(X_test, y_test)

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.